<h2 class='blog-title'>Recent Articles</h2>
<div class='blog-sidebar'>
  <% Article.find(:all, :limit => 10).each do |article| %>
    <% unless article == @article or !article.posted?%>
      <%= link_to "#{truncate(article.title, :length => 20)}", article_path(article) %>
      <span style="float:right;"><%= article.author.full_name %></span>
      <br/>
    <% end %>
  <% end %>
</div>
