<div style="padding: 5px; text-align: right; background-color: #42526B; color: white; -moz-border-radius: 3px; -webkit-border-radius: 3px;">
  <%= (logged_in?) ? "Good day, #{full_name(current_author)}!<br />#{link_to "Logout?", logout_path, :class => "offlink"}" : "#{link_to "Login to your account...", login_path, :class => "offlink" }"%>
</div>
<h2 class='blog-title' style="color:white; text-shadow: 1px 1px black;">Recent Articles</h2>
<div class='blog-sidebar'>
  <%= retrieve_side_pane_contents(@article) %>
</div>
