<h1>List of All Articles</h1>
<div class="toppadding">
  <% if @articles.nitems != 0 %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr id="head">
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
      <th>Author</th>
      <th colspan="4">Date Posted</th>
    </tr>
    <%= retrieve_articles(@articles) %>
  </table>
  <% end %>
<hr/>
<%= link_to "Create New Article", new_article_path, :style => "float: right; margin-right: 10px;" %>
</div>
