<div class='blog-entry'>
  <h2 class='blog-title'><%= @article.title %></h2>
  <h4 class='blog-author'>
    <%= formatted_date_posted(@article) %> by <%= full_name(@article.author)  %>
  </h4>
  <p class='blog-body'>
    <%= @article.body %>
  </p>
</div>
