* {
	padding: 0em;
	margin: 0em;
}

p {
	padding: 0.5em;
}

hr {
	margin: 1em 0em 1em 0em;
}

body {
	margin: 0em auto;
	width: 800px;
	background-color: black;
        color: white;
}

h1 {
	position: fixed;
	background-color: gray;
	width: 780px;
	padding-left: 20px;
}

table {
   text-align: left;
	width: 100%;
}

tr#head {
	background-color: #004080;
	color: white;
}

td, th {
	padding-left: 0.2em;
}

th {
	width: 7em;
}

td.cellcontrol {
	border-top: medium dashed white;
	text-align: right;
	height: 3em;
}



.rowodd, .roweven {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
        color: black;
	margin-bottom: 1em;
}

td.cellcontrol a {
  padding: 0.3em;
  margin: 0.5em;
  outline: 0.2em solid white;
  width: 4em;
  display: inline-block;
  text-align: center;
}

td.cellcontrol a:link, td.cellcontrol a:visited {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

td.cellcontrol a:hover {
  color: #455897;
  background-color: white;
}

.rowodd{
	background-color: #6C7DC0;
}

.roweven {
	background-color: #8EA2E6;
}

div.roweven:hover, div.rowodd:hover {
	background-color: #455897;
}

div.toppadding {
	padding-top: 3em;
}

div.errorExplanation {
	background-color: #FFA3B1;
	border: 0.5em solid red;
	color: #800000;
}

div.errorExplanation h2 {
	padding: 0.5em;
	font-size: 1.5em;
}

div.errorExplanation p, ul {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div.errorExplanation p {
	padding-left: 2em;
}

div.errorExplanation ul {
	padding: 0em 0em 1em 5em;
}

td.article {
  padding-left: 1em;
}
